/*Шрифт*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

/*Линия разметки*/

/*Меню*/
	li {
    display: inline-block; /* Строчно-блочные элементы */
    background: #0695B2; /* Цвет фона */
    margin-right: 20px; /* Расстояние между пунктами меню */
    -webkit-transform: skewX(-30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(-30deg); /* Для Firefox */
    -o-transform: skewX(-30deg); /* Для Opera */
    -ms-transform: skewX(-30deg); /* Для IE */
    transform: skewX(-30deg); /* CSS3 */
   }
   a {
    color: #fff; /* Цвет ссылок */
    display: block; /* Блочный элемент */
    padding: 20px 40px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    -webkit-transform: skewX(30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(30deg); /* Для Firefox */
    -o-transform: skewX(30deg); /* Для Opera */
    -ms-transform: skewX(30deg); /* Для IE */
    transform: skewX(30deg); /* CSS3 */
   }
   li:hover {
    background: #333; /* Цвет фона при наведении курсора мыши */
   }
   

			
/*Центровка текстов*/			
			div.a {											
				text-align: center;
			}

/*Таблица 1 Верхушка, Шапка*/			
			table#table1 {
    width: 100%; /* Ширина таблицы */
   }
   #col1 {
    width: 10%; /* Ширина первой колонки */
	text-align: left; /* Выравнивание по левому краю */
   }
   #col2 {
    width: 60%; /* Ширина второй колонки */
    text-align: right; /* Выравнивание по левому краю */
   }
    
   #col1, #col2 {
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
   
/*Таблица 2 Основная картинка тег*/

			.img-wrap {
						  position: relative, top;
						}

						.img-wrap h1 {
						  position: absolute;
						  left: 0;
						  bottom: 0;
						  width: 100%;
						}			
			table#table2 {													
					width: 100%; /* Ширина таблицы */
					background: white; /* Цвет фона таблицы */			
					color: white; /* Цвет текста */
					border-radius: 20px; /* Уголки */
					margin: auto;/*Отцентровка*/
					opacity: 0.77; /* Полупрозрачный фон */
					filter: alpha(Opacity=77); /* Прозрачность в IE */
					margin-top: 0%; /* Отступ сверху */
		
		   }
		   
		   
		  
		/*Таблица 3 График 1 тег*/
		
		   table#table3 {
    width: 100%; /* Ширина таблицы */
   }
   #col1 {
    width: 20%; /* Ширина первой колонки */
	text-align: left; /* Выравнивание по левому краю */
   }
   #col2 {
    width: 40%; /* Ширина второй колонки */
    text-align: center; /* Выравнивание по центру краю */
   }
   #col3 {
    width: 40%; /* Ширина третьей колонки */
    text-align: center; /* Выравнивание по центру краю */
   }
    
   #col1, #col2, #col3 {
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
   
   
		/*Таблица 4 График 2 тег*/
     table#table4 {
    width: 100%; /* Ширина таблицы */
	background: #0695B2; /* Цвет фона таблицы */
   }
   #col1 {
    width: 20%; /* Ширина первой колонки */
	text-align: left; /* Выравнивание по левому краю */
   }
   #col2 {
    width: 40%; /* Ширина второй колонки */
    text-align: center; /* Выравнивание по центру краю */
   }
   #col3 {
    width: 40%; /* Ширина третьей колонки */
    text-align: center; /* Выравнивание по центру краю */
   }
    
   #col1, #col2, #col3 {
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
  
/*Подвал*/


/*Конец Подвал*/